/* Navigation colors/variables */
$navigation-color : #F58220;
$li-active-color : white;
$post-heading-color : #003f5c;
$post-bg-color: #141414;

@media only screen and (min-width: 1700px) {
  #left-container {
    .post-image {
      float: left;
      box-shadow: none;
    }
    .post-info {
      margin: 0;
      box-shadow: 10px 5px 15px #aaa;
    }
    .post-heading {
      margin: 0;
    }
  }
}
// Animations
@keyframes slide_down {
  from {
    max-height: 0;
  }
  to {
    max-height: 600px;
  }
}
@font-face {
  font-family: 'ds-font';
  src : url("./fonts/ds-font.woff");
}
.craft-container {
  background: $navigation-color;
  height: 40px;
  min-width: 210px;
  padding: .5em;
  margin: .2em 0;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }

  .parent-image {
    width: 45px;
    height: 45px;
    float: left;
    margin-right: 1em;
  }
  .require-image {
    color: white;
    width: 40px;
    height: 40px;
    float: left;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: .3em;
    span {
      font-size: 90%;
      text-shadow: 2px 2px 2px black;

    }
  }
}


.App {
  background-image: url('./images/goat-background.jpg');
}
/*-------------------Home Page----------*/
#wrapper {
  width: 90%;
  max-width: 1400px;
  min-width: 800px;
  margin: auto;
  padding-top: 5em;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: row;
}
#left-container {
  flex: 2.5;
  h1 {
    margin: 1em auto;
    font-size: 240%;
    font-family: 'ds-font', sans-serif;
    text-align: center;
    padding: .5em 0 .5em 0;
    max-width: 500px;
  }
}
/*------------------NAV-----------------*/
nav {
  height: 80px;
  background-color: $navigation-color;
  position: fixed;
  text-align: center;
  top: 0;
  z-index: 1;
  width: 100%;
  min-width: 730px;
  a {
    text-decoration: none;
    font-family: 'ds-font';
    font-size: 150%;
    color: white;
    &:hover:not(.active) {
      color: black;
    }
  }
  #logo {
    width: 120px;
    height: 100%;
    display: inline-block;
    float: left;
    margin-left: 1em;
    a:hover{color: white;}
  }
  ul {
    margin: 0;
    margin-top: 1.8em;
    display: inline-block;
    font-size: 110%;
    font-family: 'Helvetica';
    li {
      float: left;
      list-style: none;
      margin: 0 2em 0 2em;
      img {
        margin-left: .3em;
        transition: .2s transform;
      }
    }
    .active{
      border-bottom: 5px solid $li-active-color;
      border-radius: 6px;
    }
  }
}
/*--------------Dropdown-----------------*/
.dropdown-container {
  background-color: $navigation-color;
  max-width: 130px;
  max-height: 0;
  position: absolute;
  overflow: hidden;
  transition: max-height .5s;
  margin: 0;
  border-radius: 20px;
  ul {
    padding: .5em 0 0 0;
    margin: .5em 0 0 0;
    a {
      display: block;
      padding: .2em;
      margin: 0;
      text-align: center;
      &:hover {
        color: white;
        background-color: $post-bg-color;
      }
    }

    li {
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }

}
/*--------------Post-----------------*/
.post-nav {
  margin: 3em 0 8em;
  #post-active {
    background-color: $navigation-color;
  }
  ul {
    max-width: 100px;
    margin:auto;
    li {
      color: white;
      list-style: none;
      float: left;
      margin: 0 .2em 0 .2em;
      background: $post-bg-color;
      padding: .2em;
      border-radius: 5px;
      &:hover:not(#post-active){
        cursor: pointer;
        opacity: 0.9;
      }
    }
  }
}
.post-wrapper {
  max-width: 1200px;
  padding: 0 1em 0 1em;
  margin: auto;
  .post-heading {
    padding: .4em;
    margin: 0 auto;
    max-width: 450px;
    text-align: left;
    background-color: $post-heading-color;
    color: white;
    font-size: 200%;
    font-family: 'ds-font', sans-serif;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .release-date {
      font-size: 75%;
      float: right;
      margin: .3em .5em 0 0;
    }
  }
  .post-image {
    display: block;
    margin: auto;
    padding: 0;
    max-width: 500px;
    box-shadow: 5px 5px 5px #aaa;
  }
  .post-info {
    max-width: 600px;
    min-height: 280px;
    line-height: 1.8em;
    font-family: 'Helvetica';
    font-weight: lighter;
    font-size: 90%;

    margin: .4em auto;
    margin-bottom: 4em;
    background-color: $post-heading-color;
    color: white;
    border: 1px solid black;
    display: flex;

    h3 {text-align: center;}

    .description {
      flex: 1;
      text-align: center;
      padding-left: 1em;
      p {
        max-width: 90%;
      }
      background: white;
      color: black;
    }
    .features {flex: 1;}
  }
}
/*--------------Craft Preview-----------------*/
#right-container {
  flex: 1;
  max-width: 400px;
  background-color: $post-bg-color;
  box-shadow: -5px 0px 10px 1px #aaaaaa;
  padding-left: 1em;
  padding-right: 1em;

  h2  {
    color: white;
    background-color: $post-heading-color;
    text-align: center;
    padding: .4em;
    border-radius: 5px;
    border: 1px dashed white;
    font-family: 'ds-font', sans-serif;
    font-size: 200%;
  }
  .tools-section, .fight-section, #tab-section{
    max-width: 300px;
    margin: auto;
    h3 {
      color: white;
      text-align: center;
    }
  }
  .fight-section {
    margin-top: 4em;
  }
  #tab-section {
    margin-top: 7em;
    height: 250px;
    max-width: 200px;

    #tabs-wrapper {
      display: flex;
      flex-wrap: wrap;
    }
    .tab-container {
      flex: 1;
    }
  }
}
.main-heading {
  text-align: center;
  font-family: 'ds-font', sans-serif;
  font-size: 300%;
}
/*-------------------Character Page----------*/
#character-wrapper {
  width: 100%;
}
#character-cards {
  padding: 1em;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;

  .character-container {
    display: inline-block;
    max-width: 250px;
    min-height: 400px;
    margin: 1em .5em 0 .5em;
    overflow: hidden;
    border: 1px solid #eee;
    img {
      padding: .5em;
      width: 100%;
      height: 340px;
    }
    .character-stats {
      height: 55px;
      display: flex;
      padding: .4em 0 .4em 0;
      margin: auto;
      justify-content: center;
      background-color: $navigation-color;
      border: 1px solid #eee;
      span {
        width: 60px;
        height: auto;
        margin-left: .2em;
        margin-right: .2em;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        color: white;
        font-weight: bold;
        text-align: center;
        line-height: 50px;
        text-shadow: 2px 1px black;
      }
      .health {background-image: url("./images/item_icons/huds/health_meter.png");}
      .hunger {background-image: url("./images/item_icons/huds/hunger_meter.png");}
      .sanity {background-image: url("./images/item_icons/huds/sanity_meter.png");}
    }
    .perk-description {
      width: 100%;
      margin: auto;
      padding: 1em 0 1em 0;
      margin: 0 0 2em 0;
      color: white;
      background-color: $post-heading-color;
      border-radius: 5px;
      height: 100%;
      ul {margin: 0;}
      li {
        font-family: 'Helvetica';
        line-height: 1.8em;
        font-size: 90%;
      }
    }
  }
}
/*-------------------Recipe Page----------*/
.quick-search {
  margin: 2em auto;
  display: block;
  height: 25px;
  color: gray;
  padding: .1em;
  text-align: center;
  &:focus {
    outline: none;
  }
}
.hud-background {
  background-image: url("./images/hud01.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#recipe-wrapper {
  width: 100%;
  #recipe-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
    min-height: 800px;
    align-content: flex-start;
    margin: auto;
    .post-nav {
      width: 100%;
    }
    .recipe-box {
      margin-bottom: 1em;
      margin-left: 1em;
      margin-right: 1em;

      .dish_recipes:not(:first-child) {
        overflow: hidden;
        animation: slide_down 3s;
      }

      .arrow {
        display: inline-block;
        width: 50px;
        height: 50px;
        background-image: url("./images/arrow_right.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: .2em;
      }
      .seperator {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        float: right;
      }
      .dropdown {
        background-color: $navigation-color;
        background-image: url("./images/arrowdown.png");
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
        width: 15px;
        height: 10px;
        margin: auto;
        padding: .4em;
        border-radius: 5px;
        transition: transform .2s;
        img {
          display: block;
          width: 20px;
          height: 20px;
          margin: 0 auto;
        }
        &:hover {
          cursor: pointer;
        }
      }
      .dish_recipes {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: inline-block;
        float: right;
        li {
          float: left;
          margin-left: .1em;
          margin-right: .1em;
        }
      }
    }
  }
}
/*--------------Crafting Page-----------------*/
#crafting-wrapper {
  width: 100%;
  h1 {
    font-family: 'ds-font', sans-serif;
    font-size: 260%;
    text-align: center;
  }
  #crafting-category {
    margin: 2em auto;
    display: block;
    width: 150px;
    height: 30px;
    outline: none;
    font-size: 120%;
    border-color: #ccc;
  }
  #crafting-container {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: auto;
    max-width: 800px;
    min-height: 800px;
    .craft-container {
      max-width: 200px;
      margin: 0 1em 1em 1em;
      border: 1px solid black;
      height: 45px;
    }
  }
}
/*--------------Footer-----------------*/
footer {
  width: 100%;
  background-color: $post-bg-color;
  color: white;
  text-align: center;
  position: relative;
  margin-top: 4em;
  img {
    vertical-align: middle;
  }
  p {
    display: inline-block;
    font-size: 90%;
    letter-spacing: .1px;
    margin-right: .5em;
  }
}
