/* Navigation colors/variables */
$navigation-color : #F58220;
$li-active-color : white;
$post-heading-color : #003f5c;
$post-bg-color: #141414;

//FONTS
@font-face {
  font-family: 'ds-font';
  src : url("./fonts/ds-font.woff");
}

.App {
  background-image: url('./images/goat-background.jpg');
}

/*-------------------Main Wrapper----------*/
#wrapper {
  width: 90%;
  max-width: 1600px;
  min-width: 800px;
  margin: auto;
  padding-top: 5em;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: row;
}
#left-container {
  flex: 2.5;
  h1 {
    margin: 1em auto;
    font-size: 240%;
    font-family: 'ds-font', sans-serif;
    text-align: center;
    padding: .5em 0 .5em 0;
    max-width: 500px;
  }
}
/*------------------NAV-----------------*/
nav {
  height: 80px;
  background-color: $navigation-color;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  min-width: 690px;
  a {
    text-decoration: none;
    font-family: 'ds-font';
    font-size: 150%;
    color: white;
    &:hover:not(.active) {
      color: black;
    }
  }
  #logo {
    width: 120px;
    height: 100%;
    display: inline-block;
    float: left;
    margin-left: 1em;
    a:hover{color: white;}
  }
  ul {
    margin: 0;
    margin-top: 1.8em;
    display: inline-block;
    font-size: 110%;
    font-family: 'Helvetica';
    li {
      float: left;
      list-style: none;
      margin-left: 1.2em;
      margin-right: 1.2em;
      img {
        margin-left: .3em;
        transition: .2s transform;
      }
    }
    .active{
      border-bottom: 5px solid $li-active-color;
      border-radius: 6px;
    }
  }
  .search-container {
    float: right;
    margin-top: 1.6em;
    margin-right: 1em;
    display: flex;
    justify-content: flex-end;
    .search {
      color: gray;
      border-radius: 1px;
      padding: .7em;
      outline: none;
      border: none;
      &:focus {
        box-shadow: none;
      }
    }
  }
  .search-icon {
    margin-left: .4em;
  }
}
/*--------------Dropdown-----------------*/
.dropdown-container {
  background-color: $navigation-color;
  max-width: 130px;
  max-height: 0;
  position: absolute;
  overflow: hidden;
  transition: max-height .5s;
  margin: 0;
  border-radius: 20px;
  ul {
    padding: 0;
    margin: 0;
    margin-top: .5em;
    padding-top: .5em;
    a {
      display: block;
      padding: .2em;
      text-align: center;
      margin: 0;
      &:hover {
        color: white;
        background-color: $post-bg-color;
      }
    }

    li {
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }

}
/*--------------Post-----------------*/
.post-nav {
  margin-top: 3em;
  margin-bottom: 8em;
  #post-active {
    background-color: $navigation-color;
    opacity: 0.6;
  }
  ul {
    max-width: 100px;
    margin:auto;
    li {
      color: white;
      list-style: none;
      float: left;
      margin-left: .2em;
      margin-right: .2em;
      background: $post-bg-color;
      padding: .2em;
      border-radius: 5px;
      &:hover:not(#post-active){
        cursor: pointer;
        opacity: 0.9;
      }
    }
  }
}
.post-wrapper {
  max-width: 1200px;
  padding-left: 1em;
  padding-right: 1em;
  margin: auto;
  .post-heading {
    padding: .4em;
    margin: 0 auto;
    max-width: 450px;
    text-align: left;
    background-color: $post-heading-color;
    color: white;
    font-size: 200%;
    font-family: 'ds-font', sans-serif;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .release-date {
      font-size: 75%;
      float: right;
      margin-right: .5em;
      margin-top: .3em;
    }
  }
  .post-image {
    display: block;
    margin: auto;
    padding: 0;
    max-width: 500px;
    box-shadow: 5px 5px 5px #aaa;
  }
  .post-info {
    max-width: 600px;
    min-height: 280px;
    line-height: 1.8em;
    font-family: 'Helvetica';
    font-weight: lighter;
    font-size: 90%;

    margin: .4em auto;
    margin-bottom: 4em;
    background-color: $post-heading-color;
    color: white;
    border: 1px solid black;
    display: flex;

    h3 {text-align: center;}

    .description {
      flex: 1;
      text-align: center;
      padding-left: 1em;
      p {
        max-width: 90%;
      }
      background: white;
      color: black;
    }
    .features {flex: 1;}
  }
}
/*--------------Craft Preview-----------------*/
#right-container {
  flex: 1;
  max-width: 400px;
  background-color: $post-bg-color;
  box-shadow: -5px 0px 10px 1px #aaaaaa;
  padding-left: 1em;
  padding-right: 1em;

  h2  {
    color: white;
    background-color: $post-heading-color;
    text-align: center;
    padding: .4em;
    border-radius: 5px;
    border: 1px dashed white;
    font-family: 'ds-font', sans-serif;
    font-size: 200%;
  }
  .tools-section, .fight-section, #tab-section{
    max-width: 300px;
    margin: auto;
    h3 {
      color: white;
      text-align: center;
    }
  }
  .fight-section {
    margin-top: 4em;
  }
  #tab-section {
    margin-top: 7em;
    height: 250px;
    max-width: 200px;

    #tabs-wrapper {
      display: flex;
      flex-wrap: wrap;
    }
    .tab-container {
      flex: 1;
    }
  }
  .craft-container {
    background: $navigation-color;
    height: 40px;
    min-width: 210px;
    padding: .5em;
    margin: .2em 0;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }

    .parent-image {
      width: 45px;
      height: 45px;
      float: left;
      margin-right: 1em;
      background-image: url("./images/hud01.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
    .require-image {
      color: white;
      width: 40px;
      height: 40px;
      float: left;
      font-weight: bold;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin: .3em;
      span {
        font-size: 90%;
        text-shadow: 2px 2px 2px black;

      }
    }
  }
}


/*--------------Footer-----------------*/
#footer {
  height: 40px;
  background-color: $navigation-color;
  color: white;
  text-align: center;
  width: 100%;
  line-height: 40px;
  span {
    font-size: 90%;
    letter-spacing: .1px;
  }
}
