@media only screen and (max-width: 990px) {
  .search-container {
    display: none !important;
  }
  nav {
    text-align: center;
  }
  #recipe-container {
    justify-content: center !important;
  }
}
@media only screen and (min-width: 1700px) {
  #left-container {
    .post-image {
      float: left;
      box-shadow: none;
    }
    .post-info {
      margin: 0;
      box-shadow: 10px 5px 15px #aaa;
    }
    .post-heading {
      margin: 0;
    }
  }
}
